/*icard */
@media screen and (max-width: 600px) {
  #quote-msg {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
.icardcontainer {
  border: 1px solid black; 
  border-radius: 25px; 
  margin: auto; 
  padding: 0px;
  height: 100%;
}
.icard-header{
  height: 20%; 
  width: 100%; 
  border-radius: 25px 25px 0px 0px; 
  background-color: blue; 
  border-bottom: 1px solid blue;

}
.icardlogo{
  height: 100%; 
  width: 40%; 
  float: left; 
  background: #f2f2f2; 
  border-radius: 25px 0px 25px 0px;

}
.logoimg{
  border-radius: 15px; 
  margin-top: 5px;
  background: none; 
  border: 0px solid #f2f2f2;
}
.icardschoolname h6{
  height: 30%; 
  width: 60%;  
  margin: auto;
  text-align: center; 
  color: white; 
  line-height: 30px;
  font-size: 0.9vw;
  float: left;

}
.icardschoolname p {
  color: white; 
  text-align: center;
  font-size: 1vw;
}
.iden{
  height: 5%;
  background-color: #e6e6e6; 
  width: 100%
}
.iden h6{
  text-align: center; 
  padding: 5px;
}
.icard-content{
  height: 220%; 
  width: 100%; 
  border-bottom: 1px solid blue;
  background: #f2f2f2;
}
.icard-img {
  height: 200%; 
  width: 30%; 
  border: 1px solid blue; 
  border-radius: 25px; 
  float: left; 
  box-shadow: 2px 5px blue;
}
.icard-img img{
  height: 190%;
  width: 95%;
  border-radius: 25px;
}
.icarddesc{
  height: 200%; 
  width: 65%; 
  border: 1px solid blue;  
  border-radius: 25px; 
  float: right; 
  box-shadow: 2px 5px blue;
}
.desc1{
  height: 80%;
  float: left;  
}
.desc1 p {
  font-size: 0.8vw;
}
.desc2 p {
  font-size: 0.8vw;
}
.descdivide{
  height: 80%;
  float: left; 
  font-size: 0.8vw;
}
.desc2{
  height: 80%;
  float: right; 
}
.icard-footer{
  height: 4%; 
  width: 100%; 
  background-color: blue; 
  border-radius: 0px 0px 25px 25px;
}
.icard-footer p{
  color: white; 
  text-align: center; 
  padding: 2px; 
  font-size: 1vw;
  font-size: 1vw;
}
.shows{
  width: 100%;
  margin-bottom: 10px;
}
    .id-card-holder {
      width: 250px;
        padding: 4px;
        margin: 0 auto;
        background-color: #1f1f1f;
        border-radius: 5px;
        position: relative;
    }
    /*.id-card-holder:after {
        content: '';
        width: 7px;
        display: block;
        background-color: #0a0a0a;
        height: 100px;
        position: absolute;
        top: 105px;
        border-radius: 0 5px 5px 0;
    }
    .id-card-holder:before {
        content: '';
        width: 7px;
        display: block;
        background-color: #0a0a0a;
        height: 100px;
        position: absolute;
        top: 105px;
        left: 222px;
        border-radius: 5px 0 0 5px;
    }*/
    .id-card {
      
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 1.5px 0px #b9b9b9;
    }
    .id-card img {
      margin: 0 auto;
    }
    .header1 img {
      width: 100px;
        margin-top: 15px;
    }
    .photo img {
      width: 80px;
        margin-top: 15px;
    }
   .para h2 {
      font-size: 15px;
      margin: 5px 0;
    }
   .para h4 {
      text-align: left;
      font-size: 9px;
      margin: 2.5px 0;
      font-weight: 300;
    }
    #one{
      float: left;

    }
    #two{
      float: left;

    }
    #three{
      float: right;
    }
    .qr-code {
	    width:100%;
      text-align: center;
    }
    #details {
      display: inline-block;
    }

    .para {
      font-size: 10px;
      margin: 2px;
    }
    .id-card-hook {
      background-color: #000;
        width: 70px;
        margin: 0 auto;
        height: 15px;
        border-radius: 5px 5px 0 0;
    }
    .id-card-hook:after {
      content: '';
        background-color: #d7d6d3;
        width: 47px;
        height: 6px;
        display: block;
        margin: 0px auto;
        position: relative;
        top: 6px;
        border-radius: 4px;
    }
    .id-card-tag-strip {
      width: 45px;
        height: 40px;
        background-color: #0950ef;
        margin: 0 auto;
        border-radius: 5px;
        position: relative;
        top: 9px;
        z-index: 1;
        border: 1px solid #0041ad;
    }
    .id-card-tag-strip:after {
      content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #c1c1c1;
        position: relative;
        top: 10px;
    }
    .id-card-tag {
      width: 0;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid #0958db;
      margin: -10px auto -30px auto;
    }
    .id-card-tag:after {
      content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #d7d6d3;
        margin: -10px auto -30px auto;
        position: relative;
        top: -130px;
        left: -50px;
    }
