#result {
	text-align: center;
}
#result-child {
	display: inline-block;
	border:1px groove black; 
	padding: 5px;
}
#result-tbl {
	border:3px groove grey;
}
.tbl-tr {
	border:3px groove grey;
}
.tbl-tr th p h1{
	text-align: center;
	font-family:Times New Roman, Times, serif;
}
.tbl-tr th{
	text-align: center;
}
.tbl-th-left {
	text-align: left;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 400px;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid green;
  text-align: left;
}

.sidepanel a:hover {
  color: black;
  background-color: lightgrey;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 18px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
.closebtn:hover {
  background-color:#444;
}
